@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color:#fafafa;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header > span {
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

main{
    margin: auto;
    width: 1051px;
    margin-top: 146px;
}

.titulo{
    display: flex;
}

.titulo ion-icon{
    cursor: pointer;
    margin-left: 10px;
    margin-top: 73px;
    color: #EC362D;
    font-size: 28px;
}

.titulo h1{
    font-weight: 700;
    font-size: 20px;   
}

.createQuizz{
    display: flex;
    margin: auto;
    width: 100%;
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.createQuizz button{
    text-align: center;
    align-items: center;
    font-size: 21px;
    color: #EC362D;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    cursor: pointer;
}

.createQuizz p{
    color: #b9b9b9;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 34px;
}

h1{
    margin-top: 76px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.allQuizzes{
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.postado {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    position: relative;
    margin-top: 7px;
    cursor: pointer;
 }
 
 .postado img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 .postado::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
 }
 
 .postado p {
    width: 300px;
    height: 54px;
    position: absolute;
    bottom: 7px;
    left: 18px;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    z-index: 1;
 
 }

 .display{
    display: none;
 }


